{% extends 'base.html' %}
{% load i18n %}
{% load future %}
{% block title %}{% trans "Profile" %} [{{ current_user.username }}]{% endblock %}
{% block nav2 %}
<li><a href="{{ current_user.get_absolute_url }}">{% trans "Summary" %}</a></li>
<li><a href="{% url 'character_list' current_user.id %}">{% trans "Characters" %}</a></li>
{% ifequal current_user.id user.id %}
<li><a href="{% url 'user_change' %}">{% trans "Profile update" %}</a></li>
<li><a href="{% url 'password_change' %}">{% trans "Password change" %}</a></li>
{% endifequal %}
{% endblock %}
