{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load future %}
{% block title %}{% trans "Character" %} [{{ character.name }}]{% endblock %}
{% block head %}
<link href="{% static 'css/game.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'css/char.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block nav2 %}
<a href="{{ character.get_absolute_url }}"><li>{% trans "Review" %}</li></a>
{% if can_update %}
<a href="{% url 'character_update' char_pk=character.id %}"><li>{% trans "Update fields" %}</li></a>
{% endif %}
{% if can_delete %}
<a href="{% url 'character_delete' char_pk=character.id %}"><li>{% trans "Delete character" %}</li></a>
{% endif %}
{% endblock %}
