{% extends 'generic_game/game_detail.html' %}
{% load i18n %}
{% block subpage %}
{% block page_header %}{% endblock %}
{% for object in object_list %}
{% if forloop.first %}
<ul class="posts">
{% endif %}
<li>
{% block list_item %}{% endblock %}
</li>
{% if forloop.last %}
</ul>
{% endif %}
{% empty %}
{% block empty_posts %}{% trans "No posts avaliable" %}{% endblock %}
{% endfor %}
{% for page in paginator.page_range %}
{% if forloop.first %}
<ul class="pages">
{% endif %}
<li><a href="{% block page_link %}{% endblock %}" {% ifequal page page_obj.number %}disabled{% endifequal %}>{{ page }}</a></li>
{% if forloop.last %}
</ul>
{% endif %}
{% endfor %}
{% endblock %}
