{% extends 'base.html' %}
{% load i18n %}
{% load future %}
{% block title %}{% trans "Game" %} [{{ game }}]{% endblock %}
{% block nav2 %}
<a href="{{ game.get_absolute_url }}"><li>{% trans "News" %}</li></a>
{% if can_update %}
<a href="{% url 'game_update' game_pk=game.id %}"><li>{% trans "Update fields" %}</li></a>
{% endif %}
{% if can_delete %}
<a href="{% url 'game_delete' game_pk=game.id %}"><li>{% trans "Delete game" %}</li></a>
{% endif %}
{% endblock %}
{% block right %}
{% if gm %}
<p><b>You are GM there!</b></p>
{% endif %}
<p>{% trans "Game masters" %}:</p>
<ul>
{% for object in game_masters %}
<li><a href="{{ gm.master.get_absolute_url }}">{{ object.master.username }}</a></li>
{% empty %}
<p>{% trans "No game masters assigned to game" %}</p>
{% endfor %}
</ul>
<p>{% trans "Characters" %}:</p>
<ul>
{% for char in characters %}
<li><a href="{{ char.get_absolute_url }}">{{ char.name }}</a></li>
{% empty %}
<p>{% trans "No characters assigned to game" %}</p>
{% endfor %}
</ul>
{% endblock %}
