{% extends 'base.html' %}
{% load i18n %}
{% load future %}
{% block title %}{% trans "Game" %} [{{ game }}]{% endblock %}
{% block nav2 %}
<li><a href="{{ game.get_absolute_url }}">{% trans "News" %}</a></li>
{% if can_update %}
<li><a href="{% url 'game_update' game_pk=game.id %}">{% trans "Update fields" %}</a></li>
{% endif %}
{% endblock %}
{% block right %}
{% if my_gm %}
<p><b>You are GM there!</b></p>
{% endif %}
<p>{% trans "Game masters" %}:</p>
<ul>
{% for gm in game_masters %}
<li><a href="{{ gm.master.get_absolute_url }}">{{ gm.master.username }}</a></li>
{% empty %}
<p>{% trans "No game masters assigned to game" %}</p>
{% endfor %}
</ul>
<p>{% trans "Characters" %}:</p>
<ul>
{% for char in characters %}
<li>{{ char.name }}</li>
{% empty %}
<p>{% trans "No characters assigned to game" %}</p>
{% endfor %}
</ul>
{% endblock %}
