{% extends 'users_ex/user_base.html' %}
{% load future %}
{% load i18n %}
{% block main %}
{% ifequal current_user user %}
<p class="notification">It's me!</p>
{% endifequal %}
<p class="user_info">
  <span class="user_nickname">{{ current_user.username }}</span>
  {% if current_user.get_full_name|make_list|length > 0 %}
    {% trans "also known as" %} <span class="user_name">{{ current_user.get_full_name }}</span>
  {% endif %}
</p>
<p class="user_join">
  <b>{% trans "Joined" %}</b>: {{ current_user.date_joined }}</span>
</p>
{% endblock %}