{% extends 'base.html' %}
{% load future %}
{% load static %}
{% load i18n %}
{% block title %}{% trans "Profile" %} [{{ current_user.username }}]{% endblock %}
{% block head %}
<link href="{% static 'css/user.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block nav2 %}
<a href="{{ current_user.get_absolute_url }}"><li>{% trans "Summary" %}</li></a>
<a href="{% url 'character_list' current_user.id %}"><li>{% trans "Characters" %}</li></a>
{% ifequal current_user.id user.id %}
<a href="{% url 'user_change' %}"><li>{% trans "Profile update" %}</li></a>
<a href="{% url 'password_change' %}"><li>{% trans "Password change" %}</li></a>
{% endifequal %}
{% endblock %}
