{% extends 'list.html' %}
{% load future %}
{% load i18n %}
{% block title %}{% trans "Users" %}{% endblock %}
{% block page_header %}{% trans "Users" %}:{% endblock %}
{% block list_item %}
<li>
<div class="list_item">
<a href="{{ object.get_absolute_url }}">{{ object.username }}</a> [{{ object.get_full_name }}]<br />
<div class="list_left">{{ object.date_joined }}</div>
</div>
{% endblock %}
{% block empty_list %}{% trans "No users exist" %}{% endblock %}
{% block page_link %}{% url "user_list" page=page %}{% endblock %}
