body{
    background: #f0dac4;
    max-width: 1200px;
    margin: auto;
    text-align: justify;
}

div:empty {
    display:none;
}

ul:empty {
    display:none;
}

ul {
    list-style-type: square;
}

a {
    color: #232323;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;	
}

a:active {
    color: #000000;	
}

a:visited {
    color: #484848;
}

.header {
    padding-left: 15px;
    font-size: 33px;
    font-weight: bold;
    margin-bottom: 4px;
    letter-spacing: 2px;
    word-spacing: 7px;
    color: #8f0505;
}

.nav, .nav2 {
    display: block;
    padding: 0px;
    margin: 0px;
}

.nav {
    padding-bottom: 5px;
    margin-bottom: 0px;
    border: 0px;
    border-bottom: #343434 3px solid;
    letter-spacing: 2px;
}

.nav2 {
    padding-top: 5px;
    margin-right: 270px;
    padding-left: 6px;
    background: transparent;
    padding:3px;
    border: 0px;
}

.nav2:hover {
    padding-left: 0px;
    background: #d58888;
    border: #b84a49 3px double;
    margin-bottom: -6px;
}

.nav2:hover li {
    border-style: solid;
}

ul.nav li, ul.nav2 li {
    background: transparent;
    display: inline-block;
    height: 23px;
    padding: 1px 15px 1px 15px
}

ul.nav li {
    text-align: center;
    border: #353535 1px dotted;
    background: transparent;
}

ul.nav li:hover {
    background: #c76e6e;
}

ul.nav a {
    color: #232323;
}

.nav2 li {
    border: 0px;
    border-left: #333333 1px dashed;
    margin-left: 2px;
    padding-left: 15px;
}

.nav2 li:hover {
    border: 0px;
    border-left: #560707 4px solid;
}

.nav2 a:link li {
    color: #232323;
    text-decoration: none;
}

.nav2 a:hover li {
    color: #000000;
    text-decoration: underline;
}

.nav2 a:visited li {
    color: #232323;
}

.content {
    display: block;
    padding-left: 10px;
    margin-right: 275px;
    border: 0px;
}

.right {
    display: block;
    float: right;
    width: 260px;
    border: 0px;
    border-left: #343434 2px solid;
    border-bottom: #343434 2px dashed;
    padding-left: 5px;
    position: relative;
}

.footer {
    display: block;
    font-style: italic;
    border-top: #343434 2px solid;
}

.container {
    display: block;
    position: relative;
    padding-left: 5px;
}

.notification {
    display: block;
    background: #ee7578;
    border: 3px double #232323;
    padding: 5px;
    font-weight: bold;
    font-size: 120%;
}

.content_head {
    font-weight: bold;
    font-size: 135%;
    margin: 4px 0px 0px 10px;
}