{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<title>{% block title %}{% endblock %} - Game Helper</title>
<link href="{% static 'css/base.css' %}" rel="stylesheet" type="text/css" />
{% block head %}{% endblock %}
</head>
<body>
{% include 'header.html' %}
{% include 'nav.html' %}
<div class="container">
<div class="right">{% block right %}{% endblock %}</div>
<ul class="nav2">{% block nav2 %}{% endblock %}</ul>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<div class="content">
{% block main %}{% endblock %}
</div>
</div>
<div class="footer">
{% include 'footer.html' %}
</div>
</body>
</html>
