{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block head %}
<link href="{% static 'css/list.css' %}" rel="stylesheet" type="text/css" />
{% block list_head %}{% endblock %}
{% endblock %}
{% block main %}
<div class="list">
{% for object in object_list %}
{% if forloop.first %}
<table class="list">
<thead><tr>
{% block list_header %}{% endblock %}
</tr></thead>
<tbody>
{% endif %}
<tr>
{% block list_item %}{% endblock %}
</tr>
{% if forloop.last %}
</tbody>
</table>
{% endif %}
{% empty %}
{% block empty_list %}{% trans "No objects avaliable" %}{% endblock %}
{% endfor %}
{% for page in paginator.page_range %}
{% if forloop.first %}
<ul class="pages">
{% endif %}
<li><a href="{% block page_link %}{% endblock %}" {% ifequal page page_obj.number %}disabled{% endifequal %}>{{ page }}</a></li>
{% if forloop.last %}
</ul>
{% endif %}
{% endfor %}
</div>
{% endblock %}