{% load i18n %}
{% load future %}
<ul class="nav">
<a href="{%url 'game_list' %}"><li>Games</li></a>
<a href="{%url 'user_list' %}"><li>Users</li></a>
{% if user.is_authenticated %}
<a href="{% url 'user_detail' 'me' %}"><li>{% trans "Profile" %} [{{ user.username }}]</li></a>
<a href="{% url 'message_received' %}"><li>{% trans "Messages" %}</li></a>
<a href="{% url 'character_list' 'me' %}"><li>{% trans "My characters" %}</li></a>
<a href="{% url 'logout' %}"><li>{% trans "Logout" %}</li></a>
{% else %}
<a href="{% url 'login' %}"><li>{% trans "Login" %}</li></a>
<a href="{% url 'user_create' %}"><li>{% trans "Register" %}</li></a>
{% endif %}
</ul>
