{% extends 'messages/message_list.html' %}
{% load future %}
{% load i18n %}
{% block page_header %}{% trans "Drafts" %}:{% endblock %}
{% block message_link %}{% url 'message_update' pk=object.id %}{% endblock %}
{% block page_link %}{% url "message_drafts" page=page %}{% endblock %}
{% block message_acts_head %}
<th><!--{% trans "Delete" %}--></th>
{% endblock %}
{% block timestamp_head %}{% trans "Edited" %}{% endblock %}
{% block message_acts %}
<td><a href="{% url 'message_delete' pk=object.id %}">{% trans "Delete" %}</a></td>
{% endblock %}
{% block timestamp %}{{ object.modification_time }}{% endblock %}