{% extends 'base.html' %}
{% load future %}
{% load static %}
{% load i18n %}
{% block title %}{% trans "Messages" %}{% endblock %}
{% block head %}
<link href="{% static 'css/message.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block nav2 %}
<a href="{% url 'message_create' %}"><li>{% trans "Create" %}</li></a>
<a href="{% url 'message_received' %}"><li>{% trans "Received" %}</li></a>
<a href="{% url 'message_sent' %}"><li>{% trans "Sent" %}</li></a>
<a href="{% url 'message_drafts' %}"><li>{% trans "Drafts" %}</li></a>
{% endblock %}
