{% extends 'messages/message_base.html' %}
{% load static %}
{% load i18n %}
{% load future %}
{% block head %}
<link href="{% static 'css/list.css' %}" rel="stylesheet" type="text/css" />
<title>{% block title %}{% trans "Messages" %}{% endblock %}</title>
{% endblock %}
{% block main %}
{% block page_header %}{% endblock %}
{% for object in object_list %}
{% if forloop.first %}
<div class="pre-list">
<table class="list" cellpadding="0" cellspacing="0" width="700">
<thead><tr>
<th>{% trans "Subject" %}</th>
<th>{% trans "Timestamp" %}</th>
<th>{% trans "Sender" %}</th>
<th>{% trans "Receiver" %}</th>
<th>{% trans "Delete" %}</th>
</tr></thead>
<tbody>
{% endif %}
<td><a href="{% block message_link %}{% endblock %}">{{ object.subject }}</a></td>
<td>{{ object.timestamp }}</td>
<td><a href="{{ object.sender.get_absolute_url }}">{{ object.sender.username }}</a></td>
<td><a href="{{ object.receiver.get_absolute_url }}">{{ object.receiver.username }}</a></td>
<td><a href="{% url 'message_delete' pk=object.pk %}">{% trans "Delete" %}</a></td>
</tr>
{% if forloop.last %}
</tbody>
</table>
</div>
{% endif %}
{% empty %}
{% trans "No messages avaliable" %}
{% endfor %}
{% for page in paginator.page_range %}
{% if forloop.first %}
<ul class="pages">
{% endif %}
<li><a href="{% block page_link %}{% endblock %}" {% ifequal page page_obj.number %}disabled{% endifequal %}>{{ page }}</a></li>
{% if forloop.last %}
</ul>
{% endif %}
{% endfor %}
{% endblock %}
