{% extends 'messages/message_base.html' %}
{% load static %}
{% load i18n %}
{% block head %}
<link href="{% static 'css/list.css' %}" rel="stylesheet" type="text/css" />
<title>{% block title %}{% trans "Messages" %}{% endblock %}</title>
{% endblock %}
{% block main %}
<p class="content_head">{% block page_header %}{% endblock %}</p>
<div class="pre-list">
{% for object in object_list %}
{% if forloop.first %}
<table class="list" cellpadding="4" cellspacing="0">
<thead><tr>
<th>{% trans "Subject" %}</th>
<th>{% trans "Timestamp" %}</th>
<th>{% trans "Sender" %}</th>
<th>{% trans "Receiver" %}</th>
{% block message_acts_head %}{% endblock %}
</tr></thead>
<tbody>
{% endif %}
<td><a href="{% block message_link %}{% endblock %}">{{ object.subject }}</a></td>
<td>{{ object.timestamp }}</td>
<td><a href="{{ object.sender.get_absolute_url }}">{{ object.sender.username }}</a></td>
<td><a href="{{ object.receiver.get_absolute_url }}">{{ object.receiver.username }}</a></td>
{% block message_acts %}{% endblock %}
</tr>
{% if forloop.last %}
</tbody>
</table>
{% endif %}
{% empty %}
<p class="notification">{% trans "No messages avaliable" %}</p>
{% endfor %}
</div>
{% for page in paginator.page_range %}
{% if forloop.first %}
<ul class="pages">
{% endif %}
<li><a href="{% block page_link %}{% endblock %}" {% ifequal page page_obj.number %}disabled{% endifequal %}>{{ page }}</a></li>
{% if forloop.last %}
</ul>
{% endif %}
{% endfor %}
{% endblock %}
