{% extends 'messages/message_list.html' %}
{% load future %}
{% load i18n %}
{% block page_header %}{% trans "Sent" %}:{% endblock %}
{% block message_link %}{{ object.get_absolute_url }}{% endblock %}
{% block page_link %}{% url "message_sent" page=page %}{% endblock %}
{% block message_acts_head %}
<th><!--{% trans "Delete" %}--></th>
{% endblock %}
{% block timestamp_head %}{% trans "Sent" %}{% endblock %}
{% block message_acts %}
<td><a href="{% url 'message_delete' pk=object.id %}">{% trans "Delete" %}</a></td>
{% endblock %}
{% block timestamp %}{{ object.sending_time }}{% endblock %}
